#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}
.Main {
  margin: 0;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background: rgb(131, 107, 118);
  background: radial-gradient(
    circle,
    rgba(131, 107, 118, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.rtl{
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  animation: scrollRightToLeft 20s linear infinite;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
margin-top: 2rem;

}

.Main h1 {
  color: #2fca82;
  font-family: "Luckiest Guy", cursive;
  font-size: 4vw;
}

.Main label {
  color: white;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
}
.text {
  width: 40vw;
  height: 2.5vw;
  border-radius: 10rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 8px 5px rgba(119, 118, 118, 0.76);
  box-shadow: 0px 5px 8px 5px rgba(104, 104, 104, 0.76);
  font-size: 1.5rem;
  padding-left: 1rem;
}
.btn {
  width: 12rem;
  border-radius: 10rem;
  height: 3rem;
  background-color: #6b4519;
  color: white;
  font-size: 1.5rem;
}

.getUrl {
  display: flex;
  width: 100%;
  padding-left: 59%;
}
.copy {
  position: relative;
  color: white;
  font-size: 1.5vw;
  padding-top: 7px;
  margin-left: 1rem;
  display: none;
  text-align: right;
}
.my-confirm-button-class {
  color: #ffffff;
  background-color: #2fca82;
  width: 8rem;
  height: 3rem;
  border-radius: 10rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.my-title-class{
  font-family: "Poppins", sans-serif;

}
.my-content-class {
  font-family: "Poppins", sans-serif;

}
@keyframes scrollRightToLeft {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(-70vw);
  }
}
@media screen and (max-width: 600px) {
  .Main h1 {
    font-size: 8vw;
  }
  .Main label {
    font-size: 4vw;
  }
  .text {
    width: 60vw;
    height: 7vw;
    font-size: 1rem;
  }
  .btn {
    width: 30vw;
    height: 2.5rem;
    font-size: 1rem;
  }
  .getUrl {
    padding-left: 38%;
  }
  .copy {
    font-size: 3vw;
    padding-top: 7px;
    margin-left: 1rem;
  }
}
